<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <!-- <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer> -->
  <mat-drawer-content>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="">IFN 701</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <button mat-raised-button color="primary" id="sign-in-or-out-button" style="margin-left: 25px"
            (click)="signIn()">Authorize</button>
          <button mat-raised-button color="warn" id="revoke-access-button" style="display: none; margin-left: 25px"
            (click)="revokeAccess()">Revoke access</button>
          <div id="auth-status" style="display: inline; padding-left: 25px"></div> -->
          <hr>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>